[color]
ui = auto

[color "branch"] 
current = yellow reverse 
local = yellow 
remote = green

[color "diff"] 
meta = yellow bold 
frag = magenta bold 
old = red bold 
new = green bold
whitespace = red reverse

[color "status"] 
added = yellow 
changed = green 
untracked = cyan

[alias]
b   = branch
c   = checkout
cb  = checkout --conflict=merge
ci  = commit
cm  = commit -m
cn  = checkout --track -b
cp  = cherry-pick
d   = diff
dn  = diff --name-only
ds  = diff --staged
dsn = diff --staged --name-only
l   = log --graph --pretty=line @{u}..
l1  = log -1
la  = log --graph --pretty=line --all
lg  = log -p
ll  = log --graph --pretty=line
lv  = log --graph --pretty=line @{u}^2..
nb  = checkout -tb
p   = add -p
pr  = pull --rebase
rh  = reset --hard
ri  = rebase --interactive
s   = status -sbu
si  = status -sbu --ignored
up  = push -f
x   = "!exec "

alias     = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ = \\2/' | sort
amend     = commit --amend --no-edit
current   = rev-parse --abbrev-ref HEAD
discard   = !git reset --hard && git clean -df
down      = pull --ff-only --no-tags
exec      = "!exec "
fixup     = commit --fixup
ign       = ls-files -o -i --exclude-standard
ignore    = !([ -e .gitignore ] || touch .gitignore) && echo "$@" >> .gitignore
prune     = !git reflog expire --expire=now --all && git gc --prune=now
root      = rev-parse --show-toplevel
search    = log -S
tmpbranch = !git checkout -b "tmp-$(date -Ins | md5sum | cut -b-8)"
unmerged  = !git for-each-ref -s --format '%(refname:short)' refs/heads/ | xargs git merge-base --independent master | xargs git name-rev --name-only

[pretty]
line = %C(auto)%h%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[core]
filemode = true
lagallrefupdates = true
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
excludesfile = ~/.gitexclude
autocrlf = input
safecrlf = true

[http] 
postBuffer = 524288000 
receivepack = true

[diff]
algorithm = myers
mnemonicprefix = true

[push]
default = simple

[merge]
tool = meld

[mergetool]
prompt = false

[mergetool "meld"]
keepbackup = false

[rebase]
autosquash = true

[branch]
autosetupmerge = always

[rerere]
enabled = true

[user]
name = Username
email = username@subdomain.domain.tld
